@import './fonts/fonts.css';
@import './styles/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6366f1;
  --primary-dark: #4f46e5;
  scroll-behavior: smooth;
}

body {
  font-family: 'FbMasa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}